
html, body, div, h1, h2, h3, p, a, img, bul, li, form, article, aside, footer, header{        
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
ul{
    list-style-type: none;
}
.menu{
    background-color: rgba(54, 53, 53, 0.9);
    position: fixed;
    width: 100%;
    margin: 0 auto ;
    display: block;
    z-index: 101;
}
ul.menu li { 
    float: left;
}
ul.menu a{
    display:block;
    text-decoration: none;
    padding: 5px;
    margin: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: aliceblue;
    height: 35px;
    line-height: 35px;
}
ul.menu a:hover{
    color: #07b34982;
}
#logo{
    margin-right:400px;
    margin-top: 10px;
    margin-left: 10px;
}
#butb{
    height: 40px;
    width: 120px;
}
button{
    height: 40px;
    width: 120px;
    margin-left: 400px;
}
button:hover{
    background-color: black;
    color: white;
}
.welcome{
    background: url(images/welcomepict.jpg);
    width: 100%; 
    height: 600px;
    display: block;
}
.welcome h1{
    color: white;
    font-size: 80px;
    text-align: center;
    padding-top: 200px;
}
.welcome p{
    color: white;
    width: 700px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    word-spacing: 1px;
    line-height: 150%;
    text-align: center;
    padding-top: 70px;
    margin: 0 auto;
}
.fform{
    display: block;
    height: 200px;
    width: 1100px;
    margin: 0 auto;
    padding: 0px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position:absolute;
    right: 200px;
    top: 500px;
    z-index: 100;
}
.fform label{
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
}
.fform input{
    width:180px;
    height:50px;
    border: 0ch;
}
.formbox{
    float:left;
    height: 75px;
    width: 200px;
    margin-top: 60px;
    margin-left: 20px;
    border-right: 1px inset rgb(123, 123, 123);
}
.fform input[type=submit]{
    background-color: black;
    color: white;
    margin-top: 70px;
    margin-left: 20px;
}
.fform input[type=submit]:hover{
    background-color: green;
}
.shefsection{
    background-color: rgb(227, 227, 227);
    height: 600px;
}
.shefsection h2{
    display: block;
    font-size: 50px;
    width: 250px;
    height: 100px;
    padding-top: 140px;
    margin-left: 800px;
}
.shefphoto{
    position: relative;
    display: block;
    float: left;
    margin-top: 100px;
    margin-left: 230px;
    z-index: 2;
}
.shefback{
    position: absolute;
    display: block;
    top: 763px;
    left: 230px;
    z-index: 1;
}
.firssent{
    display: block;
    width: 500px;
    height: 50px;
    margin-top: 20px;
    margin-left: 800px;
    font-size: 18px;
}
.secondsent{
    display: block;
    width: 500px;
    height: 80px;
    margin-top: 10px;
    margin-left: 800px;
    font-size: 18px;
}
.sign{
    display: block;
    margin-left: 800px; ;
}
.featured h2{
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}
.featured p{
    text-align: center;
    font-size: 18px;
    width: 700px;
    margin: 50px auto;
}
.dishes{
    display: block;
    margin-bottom: 100px;
    background-color: blanchedalmond;
}
.firstdish{
    position: relative;
    display: block;
    float: left;
    width: 370px;
    height: 450px;
    margin-left: 170px;
    margin-top: 30px;
    background-color: aqua;
}
.firstdish img{
    width: 100%;
    height: auto;
}
.firstdish .button-dish{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;

}
.firstdish .button-dish:hover{
    background-color: rgb(236, 22, 22);
}
.seconddish{
    display: block;
    float: left;
    width: 370px;
    height: 450px;
    margin: 30px;
    background-color: yellow;
}
.thirddish{
    display: block;
    float: left;
    width: 370px;
    height: 450px;
    margin-right: 170px;
    margin-top: 30px;
    background-color: blueviolet;
}
