html, body, div, h1, h2, h3, p, a, img, li, form, article, aside, footer, header{        
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(255, 255, 255) 57%, rgb(253, 132, 31) 43%);
}
.logoSnap{
    position: absolute;
    display: flex;
    align-items: center;
    left: 153px;
    top: 50px;
}
.stringLogin{
    display: flex;
    align-items: center;
    position:absolute;
    left: 149px;
    top: 130px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
}
.birdPict{
    position: absolute;
    width: 555px;
    height: 522px;
    left: 700px;
    top: 111px;
}
.fieldsWithForms{
    display:flex;
    flex-direction: column;
    position: absolute;
    width: 492px;
    height: 518px;
    top: 200px;
    left: 150px;
}
.formForLogin label{
    font-family: 'Actor';
    font-size: 35px;
    font-weight: 400;
    color: rgb(65,64,66);
}
.formForLogin input{
    width: 485px;
    height: 50px;
    border-radius: 40px;
    border: 1px solid #BCBEC0;
    padding-left: 27px;
}
.formForLogin label[for=password]{
    display: block;
    margin-top: 20px;
}
.forgotPassword{
    display: block;
    margin-top: 15px;
    margin-bottom: 22px;
}
.forgotPassword a{
    text-decoration: none;
    color:rgb(70,86,133);
    font-size: 18px;
    font-family: 'Actor'
}
.signIn-button input{
    background-color: rgb(253, 132, 31);
    color: white;
    border: 0px;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Actor';
    width: 512px;
    height: 57px;
    cursor: pointer;
}
.stringContinue{
    display: block;
    text-align: center;
    width: 512px;
    padding-top: 40px;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Actor';
    color: rgb(121,137,149);
}
.WraperForButtonsRegister{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 512px;
}
.ButtonsRegister{
    display: block;
    text-align: center;
    width: 153px;
    height: 57px;
    border-radius: 40px;
    border: 1px solid #BCBEC0;
    background-color: white;
    cursor: pointer;
}
.stringAccount{
    display: block;
    text-align: center;
    width: 512px;
    padding-top: 20px;
    font-size: 19px;
    font-weight: 400;
    font-family: 'Actor';
    color: rgb(121,137,149);
}
.stringAccount a{
    text-decoration: none;
    color: rgb(70,86,133);
}