html, body, div, h1, h2, h3, p, a, img, li, form, article, aside, footer, header{        
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
html{
    font-size: 20px;
}
body{
    background: linear-gradient(to right, rgb(255, 255, 255) 57%, rgb(253, 132, 31) 43%);
    font-family: 'Actor';
    font-weight: 400;
    font-style: normal;
}
.wrepper{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-top: 4%;
    margin-left: 10%;
}
.logo-snap{
    display: block;
    width: 10rem;
    margin-bottom: 6%;
}
.text-login{
    font-size: 2.25rem;
    margin-bottom: 3%;
}
.form-for-login label{
    font-size: 1.75rem;
    color: rgb(65,64,66);
}
.form-for-login input{
    width: 100%;
    height: 2.8rem;
    border-radius: 2rem;
    border: 1px solid #BCBEC0;
}
::placeholder{
    padding-left: 5%;
}
.form-for-login label[for=password]{
    margin-top: 3%;
}
.text{
    font-size: 1rem;
    color: rgb(121,137,149);
    text-align: center;
}
.text a{
    text-decoration: none;
    color: rgb(70,86,133);
}
.forgot-password{
    margin: 3% auto 5%;
    text-align:justify;
}
.sign-in-button{
    background-color: rgb(253, 132, 31);
    color: white;
    border: 0px;
    font-size: 1.5rem;
    cursor: pointer;
}
.continue-with{
    margin: 10% auto 3%;
}
.wraper-for-buttons-register{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.social-media-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.6rem;
    height: 2.85rem;
    border-radius: 2rem;
    border: 1px solid #BCBEC0;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.proposition-for-account{
    margin-top: 3%; 
}
.bird-pict{
    background-image: url(image/BirdPictureLogoPage.png);
    background-size: cover;
    position: absolute;
    width: 27.75rem;
    height: 26.1rem;
    left: 46%;
    top: 15%;
}